KiiniHelp/Service References/ServiceParametros/ServiceParametros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceParametros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceParametros_TelefonosObligatorios_InputMessage">
    <wsdl:part name="parameters" element="tns:TelefonosObligatorios" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_TelefonosObligatorios_OutputMessage">
    <wsdl:part name="parameters" element="tns:TelefonosObligatoriosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosParametrosIdTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosParametrosIdTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorreosParametrosIdTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorreosParametrosIdTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceParametros">
    <wsdl:operation name="TelefonosObligatorios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/TelefonosObligatorios" message="tns:IServiceParametros_TelefonosObligatorios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/TelefonosObligatoriosResponse" message="tns:IServiceParametros_TelefonosObligatorios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosParametrosIdTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuario" message="tns:IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuarioResponse" message="tns:IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreosParametrosIdTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuario" message="tns:IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuarioResponse" message="tns:IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceParametros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TelefonosObligatorios">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/TelefonosObligatorios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosParametrosIdTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreosParametrosIdTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceParametros">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/ServiceParametros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>