KiiniHelp/Service References/ServiceMascaras/ServiceMascaras1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
  <xs:element name="CrearMascara">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="mascara" nillable="true" type="q1:Mascara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMascaraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMascaraCaptura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMascara" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMascaraCapturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="ObtenerMascaraCapturaResult" nillable="true" type="q2:Mascara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMascarasAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMascarasAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="ObtenerMascarasAccesoResult" nillable="true" type="q3:ArrayOfMascara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>