KiiniHelp/Service References/ServiceCatalogosUsuario/ServiceCatalogosUsuario121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperSubGurpoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperSubGurpoUsuario" nillable="true" type="tns:HelperSubGurpoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperSubGurpoUsuario" nillable="true" type="tns:ArrayOfHelperSubGurpoUsuario" />
  <xs:complexType name="HelperSubGurpoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperSubGurpoUsuario" nillable="true" type="tns:HelperSubGurpoUsuario" />
</xs:schema>